.menu {
  padding-block: var(--section-padding-y);
  color: var(--color-white);
  background-color: var(--color-blue);

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: var(--gap);
  }

  &__item-title {
    margin-bottom: 30px;
  }

  &__item-submenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
  }
}