:root {
  --color-white: #fff;
  --color-light: #faf3e3;
  --color-light-gray: #e0e0e0;
  --color-dark-gray: #c4c4c4;
  --color-dark: #2e373b;
  --color-red: #f6404f;
  --color-yellow: #ffc41e;
  --color-blue: #2378fc;
  --color-green: #30bcc9;
  --color-placeholder: #9c9c9c;

  --font-family-base: 'Circe';
  --font-family-alt: 'Plumb';

  --container-width: 1100px;
  --container-padding-x: 15px;

  --section-padding-y: 75px;

  --gap: 30px;

  --transition-duration: 0.2s;
}