<section class="events">
  <div class="events__inner container">
    <header class="events__header">
      <h2 class="events__title">Текущие и будущие мероприятия</h2>
      <a class="events__link h3 link-arrow" href="#!">
        Все мероприятия
        <svg
          width="17"
          height="8"
          viewBox="0 0 17 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM0 4.5H16V3.5H0V4.5Z"
            fill="white"
          />
        </svg>
      </a>
    </header>
    <div class="events__body">
      <ul class="events__list">
        <li class="events__item">
          <article class="events__card events-card">
            <div class="events-card__image">
              <img src="./img/events/01.webp" loading="lazy" />
            </div>
            <div class="events-card__body">
              <div class="events-card__date">
                <time datetime="2020-01-02">2 января 2020 г.</time> –
                <time datetime="2020-01-07">7 января 2020 г.</time>
              </div>
              <a class="events-card__link h3" href="#!">ЭКСПО ЕЛКА</a>
              <p class="events-card__description">
                Парк интерактивных развлечений
              </p>
            </div>
          </article>
        </li>
        <li class="events__item">
          <article class="events__card events-card">
            <div class="events-card__image">
              <img src="./img/events/02.webp" loading="lazy" />
            </div>
            <div class="events-card__body">
              <div class="events-card__date">
                <time datetime="2020-02-05">5 февраля 2020 г.</time> –
                <time datetime="2020-02-09">9 февраля 2020 г.</time>
              </div>
              <a class="events-card__link h3" href="#!">Junwex Петербург</a>
              <p class="events-card__description">Выставка ювелирных изделий</p>
            </div>
          </article>
        </li>
        <li class="events__item">
          <article class="events__card events-card">
            <div class="events-card__image">
              <img src="./img/events/03.webp" loading="lazy" />
            </div>
            <div class="events-card__body">
              <div class="events-card__date">
                <time datetime="2020-02-07">7 февраля 2020 г.</time> –
                <time datetime="2020-02-09">9 февраля 2020 г.</time>
              </div>
              <a class="events-card__link h3" href="#!">Невский ларец</a>
              <p class="events-card__description">
                Выставка-ярмарка народных художественных промыслов и ремесел
              </p>
            </div>
          </article>
        </li>
        <li class="events__item">
          <article class="events__card events-card">
            <div class="events-card__image">
              <img src="./img/events/04.webp" loading="lazy" />
            </div>
            <div class="events-card__body">
              <div class="events-card__date">
                <time datetime="2020-02-04">4 февраля 2020 г.</time> –
                <time datetime="2020-01-23">23 февраля 2020 г.</time>
              </div>
              <a class="events-card__link h3" href="#!">ПОНАЕХАЛИ!</a>
              <p class="events-card__description">
                Специализированная арт-ярмарка
              </p>
            </div>
          </article>
        </li>
        <li class="events__item">
          <article class="events__card events-card">
            <div class="events-card__image">
              <img src="./img/events/05.webp" loading="lazy" />
            </div>
            <div class="events-card__body">
              <div class="events-card__date">
                <time datetime="2020-02-08">8 февраля 2020 г.</time> –
                <time datetime="2020-02-21">21 февраля 2020 г.</time>
              </div>
              <a class="events-card__link h3" href="#!">VET.CAMP</a>
              <p class="events-card__description">
                Конференция для ветеринарных врачей
              </p>
            </div>
          </article>
        </li>
        <li class="events__item">
          <article class="events__card events-card">
            <div class="events-card__image">
              <img src="./img/events/06.webp" loading="lazy" />
            </div>
            <div class="events-card__body">
              <div class="events-card__date">
                <time datetime="2020-02-06">6 февраля 2020 г.</time> –
                <time datetime="2020-02-28">28 февраля 2020 г.</time>
              </div>
              <a class="events-card__link h3" href="#!">ExpoHoReCa</a>
              <p class="events-card__description">
                Специализированная выставка
              </p>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
