<section class="info">
  <div class="info__inner container">
    <header>
      <h2 class="visually-hidden">Информация</h2>
    </header>
    <div class="info__body">
      <ul class="info__gallery-list">
        <li class="info__gallery-item">
          <img src="./img/info/01.webp" loading="lazy" />
        </li>
        <li class="info__gallery-item">
          <img src="./img/info/02.webp" loading="lazy" />
        </li>
      </ul>
      <div class="info__news">
        <header class="info__news-header">
          <h3 class="info__news-title">Новости</h3>
          <a class="info__news-link h3 link-arrow" href="#!">
            Все новости
            <svg
              width="17"
              height="8"
              viewBox="0 0 17 8"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM0 4.5H16V3.5H0V4.5Z"
                fill="white"
              />
            </svg>
          </a>
        </header>
        <div class="info__news-body">
          <ul class="info__news-list">
            <li class="info__news-item">
              <article class="info__news-card">
                <div class="info__news-card-image">
                  <img src="./img/info/news/01.webp" loading="lazy" />
                </div>
                <div class="info__news-card-content">
                  <time datetime="2020-01-04">4 января 2020 г.</time>
                  <p class="h3">
                    Как объединилась реальность и виртуальность – LIKEE PARTY
                  </p>
                </div>
              </article>
            </li>
            <li class="info__news-item">
              <article class="info__news-card">
                <div class="info__news-card-image">
                  <img src="./img/info/news/02.webp" loading="lazy" />
                </div>
                <div class="info__news-card-content">
                  <time datetime="2020-01-02">2 января 2020 г.</time>
                  <p class="h3">
                    Как объединилась реальность и виртуальность – LIKEE PARTY
                  </p>
                </div>
              </article>
            </li>
            <li class="info__news-item">
              <article class="info__news-card">
                <div class="info__news-card-image">
                  <img src="./img/info/news/03.webp" loading="lazy" />
                </div>
                <div class="info__news-card-content">
                  <time datetime="2020-01-02">2 января 2020 г.</time>
                  <p class="h3">
                    Как объединилась реальность и виртуальность – LIKEE PARTY
                  </p>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>