<section class="menu">
  <div class="menu__inner container">
    <ul class="menu__list">
      <li class="menu__item">
        <h3 class="menu__item-title h2">Организаторам</h3>
        <ul class="menu__item-submenu">
          <li class="menu__item-submenu-item">
            <a class="menu__item-submenu-link" href="#!"
              >Документы организаторам</a
            >
          </li>
          <li class="menu__item-submenu-item">
            <a class="menu__item-submenu-link" href="#!"
              >Услуги организаторам</a
            >
          </li>
          <li class="menu__item-submenu-item">
            <a class="menu__item-submenu-link" href="#!">Выставочные площади</a>
          </li>
          <li class="menu__item-submenu-item">
            <a class="menu__item-submenu-link" href="#!">Рестораны и кафе</a>
          </li>
          <li class="menu__item-submenu-item">
            <a class="menu__item-submenu-link" href="#!">Конгресс-центр</a>
          </li>
          <li class="menu__item-submenu-item">
            <a class="menu__item-submenu-link" href="#!">Спорт-центр</a>
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <h3 class="menu__item-title h2">Экспонентам</h3>
        <ul class="menu__item-submenu">
          <li class="menu__item-submenu-item">
            <a class="menu__item-submenu-link" href="#!"
              >Общие условия участия</a
            >
          </li>
          <li class="menu__item-submenu-item">
            <a class="menu__item-submenu-link" href="#!">Услуги экспонентам</a>
          </li>
          <li class="menu__item-submenu-item">
            <a class="menu__item-submenu-link" href="#!"
              >Документы экспонентам</a
            >
          </li>
          <li class="menu__item-submenu-item">
            <a class="menu__item-submenu-link" href="#!"
              >Центр деловых контактов</a
            >
          </li>
          <li class="menu__item-submenu-item">
            <a class="menu__item-submenu-link" href="#!"
              >Забронировать гостиницу</a
            >
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <h3 class="menu__item-title h2">Посетителям</h3>
        <ul class="menu__item-submenu">
          <li class="menu__item-submenu-item">
            <a class="menu__item-submenu-link" href="#!">Сервисы</a>
          </li>
          <li class="menu__item-submenu-item">
            <a class="menu__item-submenu-link" href="#!"
              >Онлайн-регистрация <br> на мероприятие
            </a>
          </li>
          <li class="menu__item-submenu-item">
            <a class="menu__item-submenu-link" href="#!"
              >Забронировать гостиницу</a
            >
          </li>
          <li class="menu__item-submenu-item">
            <a class="menu__item-submenu-link" href="#!"
              >Центр деловых контактов</a
            >
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <h3 class="menu__item-title h2">Прессе</h3>
        <ul class="menu__item-submenu">
          <li class="menu__item-submenu-item">
            <a class="menu__item-submenu-link" href="#!">Аккредитация</a>
          </li>
          <li class="menu__item-submenu-item">
            <a class="menu__item-submenu-link" href="#!">Пресс-служба</a>
          </li>
          <li class="menu__item-submenu-item">
            <a class="menu__item-submenu-link" href="#!"
              >Правила аккредитации</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>